@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*
 * COLORS
 * ********************************************
 */
// Overall
$white:                 #ffffff !default;

$grey:                  #212121 !default;
$lgrey:                 #727272 !default;
$lrgrey:                #c6c6c6 !default;
$lstgrey:               #eeeeee !default;

$red300:                #EF9A9A !default;
$red400:                #EF5350 !default;
$red500:                #F44336 !default;
$red600:                #E53935 !default;
$red700:                #D32F2F !default;
$red800:                #C62828 !default;
$red900:                #B71C1C !default;

$green:                 green !default;

.test{
  border:1px solid green;
  height:20px;
}

/*
 * OVERALL
 * ********************************************
 */

*{font-family: 'Roboto', 'Helvetica Neue'; p{font-size: 1.25em;}}
h1{font-family: 'Montserrat', sans-serif; font-weight: 700;}
// h2 for titels (blog, events, school)
h2{font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 7rem; padding: 6rem 0 4rem;}
h3{font-family: 'Montserrat', sans-serif; font-weight: 400;}
h4{font-family: 'Montserrat', sans-serif; font-weight: 400;}
h5{font-family: 'Montserrat', sans-serif; font-weight: 400;}
h6{font-family: 'Montserrat', sans-serif; font-weight: 400;}
.play{font-family: 'Play'; font-size: 1.5em;}

textarea { resize: none; }

.section{ margin: 1em 0 8em 0; clear: both; }
.subsection{ margin: 1em 0 3em 0; }
.subsectionRight, .subsectionLeft{ margin: 1em 0 4em 0; }
.subsectionRight{
  img{
    max-width: 40%;
    float: right;
    padding: 0 0 10px 10px;
    margin: 5px auto 10px;
  }
}
.subsectionLeft{
  img{
    max-width: 40%;
    float: left;
    padding: 0 10px 10px 0;
    margin: 5px auto 10px;
  }
}

.btn-red500, .btn-red900{
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $white;
  background-color: $red500;
  &:hover{
    color: $white;
    background-color: $red900;
  }
}

.btn-red900{
  margin-bottom: 0;
  background-color: $red900;
}

.btn-neutral{
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $white;
  background-color: $lgrey;
  &:hover {
    color: $white;
    background-color: $lrgrey;
  }
}

.btn-none{
  background-color: transparent;
  border: none;
  padding: 0 5px !important;
  &:hover{
    color: $lgrey;
  }
}

.btn-del{
  color: $red500;
  padding-left: 15px !important;
}

.alert {
  top: 15%;
  position: absolute;
  z-index: 10;
  width: 70% !important;
  margin-left: 15% !important;
  padding: 45px;
  text-align: center;
  font-size: 2em;
  border: none;
  border-radius: 0;
}

.alert-error{
  background-color: $red900;
  color: $white;
}

.alert-succes{
  background-color: $green;
  color: $white;
}

a{
  color: $red500;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: $red900;
  }
}


/*
 * SIDEBAR
 * ********************************************
 */
.active a{
  color: $red500 !important;
  background-color: transparent !important;
}
#sidebar{
  font-size: 1.4em;
  position: fixed;
  height: 100vh;
  background-color: $grey;
  nav{
    ul{
      margin-left: -20px;
      li{
        list-style-type: none;
        padding: 3px 0;
        a{
          color: $lgrey;
          text-decoration: none;
        }
      }
    }
  }
}
.reservation{
  position: fixed;
  bottom: 0;
  background-color: $red500;
  p{
    color: $white;
    text-transform: uppercase;
    text-align: center;
    padding: 28px 18px 18px 20px;
  }
}



/*
 * BOOTSTRQP OVERWRITE
 * ********************************************
 */
.navbar{ z-index: 100; }
.navbar-default{
  font-size: 1.2em;
  background-color: transparent;
  border: none;
}
.btn{
  border-radius: 0 !important;
  padding: 8px 24px;
}
.form-control{
  border-radius: 0 !important;
  -webkit-appearance: none !important;
}


/*
 * HOME
 * ********************************************
 */
.bgHome {
  position: fixed;
  display: block;
  z-index: -1;
  background: url(../images/bgHome.png) center center fixed no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.navbar-nav li a{
  text-align: center;
  &:hover{ color: $red500 !important; }
}


//.variableSection{
//  position: absolute;
//  left: 30vw; bottom: 5vw;
//  width: 30vw;
//  padding: 10px;
//  color: $white;
//  .variable{
//    .event{
//      padding: 20px 0;
//      border-bottom: 1px solid $white;
//      p{
//        span{
//          color: $red500;
//        }
//      }
//      .more{
//        span{
//          padding-left: 20px;
//          a{
//            color: $white !important;
//            text-decoration: none;
//          }
//        }
//      }
//    }
//    .event:last-of-type{ border-bottom: none; }
//  }
//  .buttons{
//    margin-top: 40px;
//    .ghostbtn{
//      border: 2px solid $white;
//      padding: 10px;
//      text-transform: uppercase;
//      text-align: center;
//    }
//  }
//}


.logoH{
  h1{
    text-transform: uppercase;
    text-align: center;
    color: $white;
    font-size: 4em;
    font-weight: 300;
    margin-top: 2em;
  }
}

// for devices up to desktop
#ghost{
  position: absolute;
  width: 90vw;
  margin-left: 5vw;
  .ghostbtn{
    transition: ease .5s;
    padding: 15px;
    border: 2px solid $white;
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 20px;
    &:hover{
      border-color: $red500;
      background-color: $red500;
    }
  }
}

// For desktop only
#largeH{
  position: absolute;
  padding-right: 20px;
  h4{ color: $white; font-weight: 900; font-size: 1.5em; }
  p{
    span{ color: $red500; padding-right: 10px; }
    color: $white;
    font-size: 1.05em;
  }
  .more a{ padding-left: 15px; }
}




/*
 * LOGIN
 * ********************************************
 */
.logo{
  margin-top: 30px;
  margin-bottom: 70px;
}
.authBlock{
  background-color: $white;
  padding: 20px;
}



/*
 * TENNISSCHOOL
 * ********************************************
 */
.schoolNav{
  margin: 1rem 0 6rem 0;
  .block{
    transition: all 500ms ease;
    border: 2px solid $grey;
    padding: 10px;
    margin-bottom: 10px; // for mobile
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .block:hover{
    border: 2px solid $red700;
    background-color: $red700;
    color: $white;
  }
  .block:active{
    border: 2px solid $red500;
    background-color: $red500;
    color: $white;
  }
}
.team{
  font-size: 1.2em;
  .trainer{
    padding: 5px;
  }
  span:nth-of-type(1){
    transition: all 500ms ease;
    position: absolute;
    bottom: 20px;
    padding: 5px 10px;
    background-color: $red900;
    color: $white;
    font-weight: 100;
    z-index: 10;
  }
  span:nth-of-type(2){
    transition: all 500ms ease;
    position: absolute;
    bottom: 20px;
    padding: 5px 10px;
    color: $white;
    font-weight: 500;
  }
  img{
    width: 100%;
    transition: all 500ms ease;
    filter: grayscale(100%);
    //filter: none;
    background-color: $red500;
    &:hover{
      filter: none;
    }
    &:hover + span:nth-of-type(1){
      background-color: $red500;
      bottom: 50px;
    }
  }
}
// Start2tennis
.start2tennis{
  .subsection{
    margin: 2em auto 0;
    img{
      transition: .5s ease;
      margin: 3em auto 3em;
      &:hover{
        transform: scale(1.1);
        opacity: .5;
      }
    }
    p{
      text-align: center;
      strong{ color: $red500;}
    }
  }
  i{
    padding: 0 auto;
  }
}

// Kidstennis
.kidstennis{
  img{
    max-width: 150px;
  }
  a{
    text-decoration: none;
    color: $red500;
  }
}

// Stages
.stages{
  .stage{
    margin-top: 2em;
    text-align: center;
    img{ width: 100%; }
  }
}






/*
 * BLOG & EVENT
 * ********************************************
 */
.post, .event{
  .pre{
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 2em;
    span{
      color: $red500;
      padding-right: 2px;
    }
  }
  .body{
    img{
      padding: 10px 0 5px 15px;
      max-width: 50%;
    }
  }
  .sub{
    i{
      padding: 0 5px 0 15px;
      font-size: 1.1em;
      font-weight: 900;
      color: $red500;
    }
    i:hover{
      color: $red900;
    }
    a{
      line-height: 1em;
    }
    a:hover { text-decoration: none !important; color: $red500; }
  }
}
.comments{
  .comment{
    padding: 20px 0 40px;
    border-bottom: 1px solid $grey;
    h4{
      font-weight: 900;
      span:first-of-type{
        font-weight: 300;
      }
      span:last-of-type{
        color: $red500;
      }
    }
    p{
      span{
        i{
          padding-left: 10px;
        }
      }
    }
    button{
      background-color: transparent;
      border: 0;
      padding: 0 0 0 15px;
    }
  }
  .comment:last-of-type{ border-bottom: none; }
}

.authorize{
  text-align: center;
  color: $red500
}




/*
 * CLUB
 * ********************************************
 */
.descr{
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 100px;
  div{ margin-bottom: 20px; } // mobile
  i{
    padding-right: 15px;
    color: $red500;
  }
}
.clubhouse{
  .chimg{
    padding: 5px;
    img{
      width: 100%;
      transition: all 500ms ease;
      filter: none;
      background-color: $red500;
    }
  }
}






/*
 * Contact
 * ********************************************
 */
.contact{
  .contactform{
    margin-bottom: 4em;
  }
  .text{
    p{
      span{ font-weight: 900;}
    }
    p:last-of-type{
      margin-top: 2em;
    }
  }
}

#map{
  margin-top: 100px;
  height: 40vh;
  width: 100%;
}





/*
 * MOBILE
 * ********************************************
 */
@media (max-width: 767px) {
  *{p{font-size: 1.1em;}}
  h2{ font-size: 4rem; padding: 2rem 0 3rem;}
  #sidebar{ font-size: 1.1em; }
}

@media (max-width: 991px) and (min-width: 768px) {
  *{p{font-size: 1.1em;}}
  h2{ font-size: 5rem; padding: 2rem 0 3rem;}
  #sidebar{
    font-size: 1.1em;
    nav {
      ul{
        margin-left: -30px !important;
      }
    }
  }
  .reservation p{
    font-size: .9em;
    padding: 18px 8px 8px 18px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  *{p{font-size: 1.1em;}}
  h2{ font-size: 5rem; padding: 2rem 0 3rem;}
  #sidebar{ font-size: 1.1em; }
  .reservation p{
    font-size: .9em;
    padding: 28px 18px 18px 22px;
  }

}


@media (min-width: 1200px) {
  *{p{font-size: 1.25em;}}
  h2{font-size: 7rem; padding: 6rem 0 4rem;}
  .buttons{
    margin-top: 40px;
    .ghostbtn{
      border: 2px solid $white;
      padding: 10px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}









/*
 * BACKEND
 * ********************************************
 */
.dashsection {
  margin: 1em auto 3em;
  h4{
    border-bottom: 1px solid $grey;
    padding-bottom: .5em;
    margin-bottom: 1em;
    span{
      color: $red500;
      font-weight: 900;
      padding-left: 5px;
    }
  }
  p{
    &:hover{
      font-weight: 900;
    }
  }
}

// BLOG
.postback{
  h2{ font-size: 2.5em; }
  .pre{ font-size: 1.4em !important; }
  .body p{ font-size: 1em !important; }
  .after{
    margin-top: 20px;
    padding: 15px;
    background-color: $lstgrey;
    p{
      margin-bottom: 0 !important;
      text-align: left;
      span{ float: right;}
    }
  }
}

// TRIANERS
.trainerback{
  clear: both;
  padding: 10px 0;
}

.table-hover{
  td:last-of-type{
    text-align: right;
  }
}

.table-detail, .table-dash{
  tr:first-of-type{
    th, td{
      border-top: none;
    }
  }
}
.dataTables_length{ visibility: hidden; }
.dataTables_filter{ margin-bottom: 15px; }







nav {
  font-family: 'Montserrat', sans-serif;
  color: $lgrey;
}
nav .nav-ul {
  list-style: none;
}
nav .nav-li {
  display: inline-block;
  font-size: .9em;
}
nav .nav-li a {
  position: relative;
  display: block;
  margin: 0 100px 0 0;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  overflow: hidden;
}
nav .nav-li a:before {
  box-sizing: border-box;
  transform: translateX(100%);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99.5%;
  height: 2px;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
}
nav .nav-li a:after {
  box-sizing: border-box;
  transform: translateX(-100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 99.5%;
  height: 2px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
}
nav .nav-li a:hover {
  color: inherit;
  text-decoration: none;
}
nav .nav-li a:hover:before {
  transition: .1s transform linear, .1s height linear .1s;
  transform: translateX(0);
  height: 100%;
  border-color: $red500;
}
nav .nav-li a:hover:after {
  transition: .1s transform linear .2s, .1s height linear .3s;
  transform: translateX(0);
  height: 100%;
  border-color: $red500;
}




